<!--Footer-->
    <footer class="page-footer center-on-small-only">

        <!--Footer Links-->
        <div class="container-fluid footertitlefont">
            <div class="row">

                <!--First column-->
                <div class="col-lg-2 col-md-6 ml-auto">
                    <h5 class="title font-bold mt-3 mb-4">ABOUT HNRY</h5>
                    <div class="footerfont">
                        <p>Hnry manages your invoicing, files your tax returns and makes your tax payments, so you don't have to. </p>
                        <p>You don't have to hold back money for tax, and you'll never 'accidentally' dip into your tax money again.</p>
                        <p>If you're self-employed (or you're thinking about it), let Hnry take the hassle away</p>
                    </div>
                </div>
                <!--/.First column-->

                <hr class="w-100 clearfix d-sm-none">

                <!--Second column-->
                <div class="col-lg-2 col-md-6 ml-auto">
                    <h5 class="title font-bold mt-3 mb-4">Contact</h5>
                    <div class="footerfont">
                        <ul>
                            <li><span><i class="fa fa-home purple-text"></i>
                            </span> PO BOX 819</li>
                            <li><span><i class="fa fa-home iconremove"></i>
                            </span> Wellington 6140</li>
                            <li><span><i class="fa fa-home iconremove"></i>
                            </span> New Zealand</li>
                            <br />
                            <li><span><i class="fa fa-phone purple-text"></i>
                            </span> 0800 HNRYNZ</li>
                            <li><span><i class="fa fa-phone iconremove"></i>
                            </span> (0800 467 969)</li>
                            <br />
                            <li><span><i class="fa fa-envelope purple-text"></i>
                            </span><a href="mailto: info@hnry.io"> info@hnry.io</a></li>
                        </ul>
                    </div>
                </div>
                <!--/.Second column-->

                <hr class="w-100 clearfix d-sm-none">

                <!--Third column-->
                <div class="col-lg-2 col-md-6 ml-auto">

                </div>
                <!--/.Third column-->

                <hr class="w-100 clearfix d-sm-none">

                <!--Fourth column-->
                <div class="col-lg-2 col-md-6 ml-auto">
                    <h5 class="title font-bold mt-3 mb-4">Follow us</h5>
                    <ul>
                        <li><span><i class="fa fa-facebook-official purple-text"></i>
                            </span> <a href="#!">Facebook</a></li><br />
                        <li><span><i class="fa fa-instagram purple-text"></i>
                            </span> <a href="#!">Instagram</a></li><br />
                        <li><span><i class="fa fa-twitter purple-text"></i>
                            </span><a href="#!">Twitter</a></li><br />
                        <li><span><i class="fa fa-pinterest purple-text"></i>
                            </span><a href="#!">Pinterest</a></li><br />
                    </ul>
                </div>
                <!--/.Fourth column-->

            </div>
        </div>
        <!--/.Footer Links-->

        <hr>

        <!--Call to action-->
        <div class="call-to-action">
            <h4 class="mb-5">Let Hnry take it from here...</h4>
            <ul>
                <li>
                    <%# <h5>Join us</h5> %>
                </li>
                <li><a target="_blank" href="https://hnry.io/register" class="btn secondary-color-dark" rel="nofollow">Sign up!</a></li>
                <li><a target="_blank" href="https://hnry.io/#contact" class="btn secondary-color" rel="nofollow">Learn more</a></li>
            </ul>
        </div>
        <!--/.Call to action-->

        <!--Copyright-->
        <div class="footer-copyright">
            <div class="container-fluid">
                Copyright <a href="https://hnry.io/"> Hnry Limited</a> 2017 ©
            </div>
        </div>
        <!--/.Copyright-->

    </footer>
    <!--/.Footer-->