<!--Jumbotron-->
<div class="jumbotron animated fadeInUp">

    <h1 class="h1-reponsive mb-3 purple-text"><strong>Welcome to your Hnry workspace</strong></h1>
    <p class="lead">Use this board to manage your existing clients, jobs, and invoicing.</p>
    <hr class="my-4">
    <p>Click and drag to-do cards you create from 'backlog' across to 'complete'. Or you can rearrange the board to suit the way you like to work.
    </p>
    <%# <p class="lead">
        <a class="btn secondary-dark btn-lg" href="#" role="button">Return home</a>
    </p> %>

</div>
<!--Jumbotron-->