
<p>
  <%= comment.commenter %>
</p>
 
<p>
  <%= comment.body %>
</p>

<p>
  <%= link_to 'Remove', [comment.article, comment], :class => "deep-purple-text",
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
</p>