<%= content_tag :div, class: "container-fluid mb-3" do -%>
    <nav class="navbar navbar-dark elegant-color-dark">
        <a class="navbar-brand" href="#">
            <img src="https://hnry.io/wp-content/uploads/2016/11/Hnry-Logo-THICK-Transparent-1.png" height="80" class="d-inline-block align-top" alt="">
            
        </a>
    </nav>
<% end -%>