<h1>New Article</h1>

<%# equivalent to form_with model: Article.new do |form| (maybe not local: true? unsure) %>

<%= form_with scope: :article, url: articles_path, local: true do |form| %>  

  <%= render 'form' %>
<% end %>

<%= link_to 'Back', articles_path %>

