<h1>New Article</h1>

<%= form_with scope: :article, url: articles_path, local: true do |form| %>  
# equivalent to form_with model: Article.new do |form| (maybe not local: true? unsure)

<%= render 'form' %>

<%= link_to 'Back', articles_path %>

